{% extends 'base.html.twig' %}

{% block title %}
	My account
{% endblock %}

{% block content %}
	<h1>
		My account
	</h1>
	Welcome
	{{ app.user.firstname}}
	on your account section and where you will manage your personal informations

	<h1>
		To Do List :
	</h1>
	<hr>
	- <a href="{{ path('app_account_edit_password')}}">  Edit password </a>
	<br>
	- <a href="{{ path('app_account_address')}}">  Manage addresses </a>
	<br>
	- Mes commandes
	<br>
</hr>{% endblock %}
