{% extends 'base.html.twig' %}

{% block title %}
	My account
{% endblock %}

{% block content %}
	<h1>
		My account
	</h1>
	Welcome
	{{ app.user.firstname}}
	on your account section and where you will manage your personal informations <br>
	{% if is_granted('ROLE_ADMIN') %}
		<a href="/admin">  Access backoffice </a> <br>
	{% endif %}
	<h1>
		Functionnalities : 
	</h1>
	<hr>
	<div class="row">
		<div class="col-md-4">
			<div class="account-item text-center"> <a href="{{ path('app_account_edit_password')}}">  Edit password </a> </div>
		</div>
		<div class="col-md-4">
			<div class="account-item text-center"> <a href="{{ path('app_account_address')}}">  Manage addresses </a> </div>
		</div>
		<div class="col-md-4">
			<div class="account-item text-center"> <a href="{{ path('account_order')}}">  Orders </a> </div>
		</div>
	</div> 
	</hr>
{% endblock %}
