{% extends 'base.html.twig' %}

{% block title %}
	Edit password
{% endblock %}

{% block content %}
	<h1> Edit my password </h1>
    <a href="{{path('app_account')}}"> Return to my account </a>
    {% if notification %}
        <div class="alert alert-info"> {{ notification }}</div>
    {% endif %}
    <hr> {{ form(form) }} </hr>
</hr>{% endblock %}

