{% extends 'base.html.twig' %}

{% block title %}Our products{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-2"> 
            <h3> Filter </h3>
            {{ form(form)}}
        </div>
        <div class="col-md-10"> 
            <h3> Our products </h3>
            <div class="row product-container">
                {% for product in products %}
                    <div class="col-md-4">
                        {% include 'product/single_product.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
