{% extends 'base.html.twig' %}

{% block content %}

	<h1>
		Register
	</h1>
	{% if notification %}
		<div class="alert alert-danger">
			{{notification}}
		</div>
		<hr>
	{% endif %}
	
	{{ form(form) }}

{% endblock %}
