{% extends 'base.html.twig' %}

{% block title %}Contact us - La Boutique Française{% endblock %}

{% block content %}
    <h1> Contact Us </h1>
    <div class="row">
        <div class="col-md-8"> {{form(form)}} </div>
        <div class="col-md-4"> 
            <strong> La Boutique Française </strong>
            <hr>
            06 20 30 40 50 <br>
            8 rue de la flemme <br>
        </div>
    </div>
{% endblock %}
