{% extends 'base.html.twig' %}

{% block title %}Page not found - La Boutique Française
{% endblock %}

{% block content %}
	<div class="block-small">
		<h2> Page not found </h2>
        <p> Sorry this page isn't enable for the moment </p>
        <a href="{{ path('home') }}" class="btn btn-info"> Back to home </a>
	</div>
{% endblock %}
